/*--------------------------------------------------------------
 * Buttons defaults
 *------------------------------------------------------------*/

.button {
    display: inline-block;
    width: 200px;
    padding: 10px 0;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    transition: all 150ms ease-in-out;
}

/*--------------------------------------------------------------
 * Positioned buttons
 *------------------------------------------------------------*/

.button-centered {
    display: table;
    margin: 0 auto;
}

/*--------------------------------------------------------------
 * Button colors
 *------------------------------------------------------------*/

.button-colored {
    background: $color-highlighted;
    color: $color-light !important;
}

.button-transparent {
    @include border-all(2px, solid);
    background-color: transparent;
    color: $color-default;
}