/*--------------------------------------------------------------
 * Forms
 *------------------------------------------------------------*/

// Reset inputs and selects
input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}

select {
    width:100%;
    padding:.5em 1em .5em 1em;
    background-color: #FFF;
    transition: 0.20s ease-in-out;
    @include border-all(1px, solid);
    
    &:hover {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
        transition: 0.20s ease-in-out;
    }
    
    &:focus {
        outline: none;
    }
    
    &::-ms-expand {
        display:none;
    }
}

// Reset checkboxes and radioboxes
input[type='checkbox'],
input[type='radio'] {
    width:auto;
    float:left;
    margin-right: .75em;
    background:transparent;
    border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin:0;
    padding:0;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    cursor: pointer;
}

input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before,
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 17px;
    height:17px;
    position: relative;
    top:4px;
    background: white;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    @include border-all(1px, solid);
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
}

input[type='checkbox']:hover  + label::before,
input[type='radio']:hover  + label::before {
    background:#ddd;
    box-shadow: inset 0 0 0 2px white;
}

input[type='checkbox']:checked  + label::before,
input[type='radio']:checked  + label::before {
    background:black;
    box-shadow: inset 0 0 0 2px white;
}