/*--------------------------------------------------------------
 * Tables
 *------------------------------------------------------------*/

table {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    vertical-align: middle;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    color: inherit;
    
    a {
        text-decoration: none;
        text-transform: none;
        color: inherit;
    }
}
    
thead {
    line-height: 30px;
    font-weight: 500;
    font-family: $default-font-family;
    @include border-bottom(1px, solid);
}

tr {
    @include border-bottom(1px, solid);
    
    &:last-child {
        border-bottom: none;
    }
}

td {
    padding: 0;
}