/*--------------------------------------------------------------
 * Libraries
 *------------------------------------------------------------*/

@import 'library/typi';
@import 'library/modular-scale';

/*--------------------------------------------------------------
 * Base
 *------------------------------------------------------------*/

@import 'base/hidings';
@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
@import 'base/backgrounds';

/*--------------------------------------------------------------
 * Vendors
 *------------------------------------------------------------*/

@import 'vendors/typekit';

/*--------------------------------------------------------------
 * Elements
 *------------------------------------------------------------*/

@import 'elements/arrows';
@import 'elements/buttons';
@import 'elements/fields';
@import 'elements/forms';
@import 'elements/lists';
@import 'elements/tables';

/*--------------------------------------------------------------
 * Modules
 *------------------------------------------------------------*/

@import 'modules/alignments';
@import 'modules/animations';
@import 'modules/appointments';
@import 'modules/carousel';
@import 'modules/hero';
@import 'modules/ninja-forms';
@import 'modules/titles';
@import 'modules/visual-composer';

/*--------------------------------------------------------------
 * Layout
 *------------------------------------------------------------*/

@import 'layout/body';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/topbar';
@import 'layout/mobile';

/*--------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------*/

@import 'navigation/navigation';
@import 'navigation/pagination';
@import 'navigation/tabs';

/*--------------------------------------------------------------
 * Pages
 *------------------------------------------------------------*/

@import 'pages/404';
@import 'pages/events';
@import 'pages/page';
@import 'pages/search';
@import 'pages/sermons';

/*--------------------------------------------------------------
 * Posts
 *------------------------------------------------------------*/

@import 'posts/event';
@import 'posts/post';
@import 'posts/single';
@import 'posts/sermon';

/*--------------------------------------------------------------
 * Misc
 *------------------------------------------------------------*/

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}