/*--------------------------------------------------------------
 * Default colors
 *------------------------------------------------------------*/

$color-default: #333;
$color-borders: #DDD;
$color-highlighted: #D96353;
$color-light: #FFF;

/*--------------------------------------------------------------
 * Dedicated colors
 *------------------------------------------------------------*/

$background-grey: #F5F5F5;
$background-light: #FFF;