/*--------------------------------------------------------------
 * Font familys
 *------------------------------------------------------------*/

$font-family-headings: 'Gobold', sans-serif;
$font-family-default: 'AvenirNext', serif;
$font-family-body: 'AvenirNext', serif;

$default-font-family: 'AvenirNext', sans-serif;
$text-font-family: 'AvenirNext', sans-serif;

/*--------------------------------------------------------------
 * Font sizes
 *------------------------------------------------------------*/

$font_size_normal : 100%;
$font_size_smaller: 90%;

$default-font-size: 1em;
$feature-font-size: 22px;

/*--------------------------------------------------------------
 * Font weights
 *------------------------------------------------------------*/

$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/*--------------------------------------------------------------
 * Line-Heights
 *------------------------------------------------------------*/

$line_height_normal: 2.2em;
$line_height_smaller: 1.8em;

$default-line-height: 28px;