/*--------------------------------------------------------------
 * Heights
 *------------------------------------------------------------*/

/* Topbar */
$topbar-height-mobile: 70px;
$topbar-height-mobile-sticky: 70px;

$topbar-height-default: 90px;
$topbar-height-default-sticky: 90px;

/* Banner */
$hero-height-default: 550px;
$hero-height-mobile: 375px;

/*--------------------------------------------------------------
 * Margins
 *------------------------------------------------------------*/

$entry-margin: 5%;

/*--------------------------------------------------------------
 * Widths
 *------------------------------------------------------------*/

$entry-width: 30%;