/*--------------------------------------------------------------
 * Floats
 *------------------------------------------------------------*/

.aligncenter {
    text-align: center;
}

.alignleft {
    float: left !important;
}

.alignright {
    float: right !important;
}

.first-element,
.first-element a {
    padding-right: 0 !important;
}

/*--------------------------------------------------------------
 * Margins
 *------------------------------------------------------------*/

.no-margin {
    margin: 0 !important;
    
    &:first-child {
        margin-top: 30px !important;
    }
    
    &:last-child {
        margin-bottom: 30px !important;
    }
}

.mg-btm-0 {
    margin-bottom: 0 !important;
}

.mg-top-0 {
    margin-top: 0 !important;
}

.pd-btm-0 {
    padding-bottom: 0 !important;
}

.pd-top-0 {
    padding-top: 0 !important;
}

/*--------------------------------------------------------------
 * Widths
 *------------------------------------------------------------*/

.fullwidth {
    width: 100%;
}

.halfwidth {
    width: 50%;
}

// Phones
@media only screen 
and (min-device-width : 300px)
and (max-device-width : 450px) {

    .halfwidth {
        width: 100%;
    }
}