.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: all 1500ms cubic-bezier(0.23, 1, .32, 1);
    transform: matrix(1, 0, 0, 1, 0, 0);
}