.appointments {
    display: block;
    width: 100%;
    margin: 0 auto;
    
    .event-day {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

    .event-date {
        display: block;
        width: 100%;
        float: left;
        padding: 5px 0;
        @include border-bottom(2px, solid);
        font-size: 18px;

        .day,
        .date {
            width: auto;
            float: left;
        }

        .day::after {
            content: ',';
            margin-right: 4px;
        }
    }

    .event-holder {
        display: inline-block;
        width: 100%;
        float: left;
    }

    .single-event {
        display: inline-table;
        width: 100%;
        padding: 10px 0;
        @include border-bottom(1px, solid);

        &:last-child {
            border-bottom: none;
        }
    }

    .event-time {
        display: block;
        width: 20%;
        float: left;
    }

    .event-details {
        display: block;
        width: 80%;
        float: left;
        border: none;
        padding-top: 0;
    }

    .event-venue {
        font-size: 13px;
        line-height: 1;
    }
}

.week-title {
    margin-bottom: 30px;
}

@media only screen and (max-device-width: 767px) {
    
    .arrow {
        display: none;
    }
    
    #appointments {
        
        .carousel-inner>.item {
            display: block;
        }
        
        .carousel-control {
            display: none;
        }
        
        .week-title {
            margin: 0 0 60px 0;
            font-size: 22px;
            text-transform: capitalize;
        }
    }
}

@media only screen and (min-device-width: 768px) {
    
    .week-title {
        margin: 60px 0;
        text-align: center;
    }
    
    .appointments {
        display: block;
        width: 80%;
        margin: 0 auto;

        .event-day {
            display: block;
            width: 100%;
            float: left;
            margin-bottom: 0;
            @include border-bottom(1px, solid);

            &:last-child {
                border-bottom: none;
            }
        }

        .event-date {
            display: block;
            width: 20%;
            float: left;
            padding: 10px 0;
            border-bottom: none;
            font-size: 16px;

            .day {
                width: 100%;
            }
            
            .date {
                width: 100%;
                line-height: 1;
            }
        }

        .event-holder {
            display: inline-block;
            width: 80%;
            float: left;
            border-left: 3px solid #DDD;
        }

        .single-event {
            display: inline-table;
            width: 100%;
            padding: 20px 0 20px 30px;
            @include border-bottom(1px, dashed);

            &:hover {
                background: #f9f8f8;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .event-time {
            display: block;
            width: 18%;
            float: left;
        }

        .event-details {
            display: block;
            width: 82%;
            float: left;
        }

        .event-venue {
            font-size: 16px;
            line-height: 1;
        }
    }
}