.banner {
    position: relative;
    padding-top: 70px;
    margin-bottom: 30px;
}

.banner-shadow {
    width: 100%;
    height: 375px;
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3), transparent);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);
    background-repeat: repeat-x;
    z-index: 10;
    
    @media only screen
    and (min-width: 767px) {
        height: 550px;
    }

    @media only screen
    and (min-width: 1200px) {
        
        height: 550px;
    }
}

.banner-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding-top: ($hero-height-mobile/2);
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}

.banner-event-time {
    position: absolute;
    top: 280px;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
    font-size: 30px;
}

@media only screen and (min-device-width: 300px) and (max-width: 767px) {
    
    .banner-image-small {
        display: block;
    }
    
    .banner-image-large {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    
    .banner {
        padding-top: 0;
        margin-bottom: 60px;
    }
    
    .banner-image {
        height: $hero-height-default;
    }
    
    .banner-image-small {
        display: none;
    }
    
    .banner-image-large {
        display: block;
    }

    .banner-title {
        padding-top: 0;
        top: 240px;
    }
}