/*--------------------------------------------------------------
 * Element wrapping links
 *------------------------------------------------------------*/

.target {
    display: inline-block;
    height: 100%;
}