.ninja-forms-response-msg.ninja-forms-error-msg {
    color: red !important;
}

.ninja-forms-form {
    font-size: 14px;
}

// Grid

.forms-col-1-2-wrap {
    display: inline-block;
    width: 49.25%;
}

.forms-col-2-2-wrap {
    display: inline-block;
    width: 49.25%;
    margin-left: 0.5%;
}