/*--------------------------------------------------------------
 * Override vendor style
 *------------------------------------------------------------*/

.wpb_text_column {
    
    p {
        margin-bottom: 1em !important;
    }
}

.visual-composer {
    
    .main {
        margin-top: 0;
    }
}

.visual-composer.has-banner {
    margin-top: 0;
}

.fixed-background {
    background-attachment: fixed;
}

.vc_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.vc_column-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}