/*--------------------------------------------------------------
 * Borders
 *------------------------------------------------------------*/

@mixin border-all($border-width, $border-style) {
    border: $border-width $border-style #DDD;
}

@mixin border-top($border-width, $border-style) {
    border-top: $border-width $border-style #DDD;
}

@mixin border-right($border-width, $border-style) {
    border-right: $border-width $border-style #DDD;
}

@mixin border-bottom($border-width, $border-style) {
    border-bottom: $border-width $border-style #DDD;
}

@mixin border-left($border-width, $border-style) {
    border-left: $border-width $border-style #DDD;
}