/*--------------------------------------------------------------
 * FontAwesome
 *------------------------------------------------------------*/

@mixin FontAwesome( $unicode ) {
    content: $unicode;
    font-family: FontAwesome;
}