@font-face {
    font-family: AvenirNext;
    font-weight: 400;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
    font-family: AvenirNext;
    font-weight: 500;
    src: url("../../assets/fonts/AvenirNextLTPro-Semi.woff") format("woff");
}

@font-face {
    font-family: AvenirNext;
    font-weight: 600;
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
    font-family: Gobold;
    src: url("../../assets/fonts/Gobold.woff") format("woff");
}

/*--------------------------------------------------------------
 * Text
 *------------------------------------------------------------*/

body {
    font-family: $font-family-body;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: $color-default;
}

p {
    margin: 1em 0;
}

::selection {
    background: $color-default;
    color: #FFF;
}

@media only screen and (min-width : 480px) {

    body {
        font-size: 18px;
        line-height: 1.8;
    }
}

/*--------------------------------------------------------------
 * Links
 *------------------------------------------------------------*/

a {
    text-decoration: none;
    color: inherit;
    transition: 0.20s ease-out;
}

a:focus,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

/*--------------------------------------------------------------
 * Headings
 *------------------------------------------------------------*/

h1 {
    font-family: $font-family-headings;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

h2, .title {
    font-family: $font-family-headings;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

h3, .subtitle {
    font-family: $font-family-headings;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

h4 {
    font-family: $font-family-headings;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

@media only screen and (min-width : 320px) and (max-width: 767px) and (orientation: portrait) {
    
    h1 {
        font-size: 35px;
        line-height: 1.8;
    }
    
    h2, .title {
        font-size: 25px;
        line-height: 1.2;
    }
    
    h3, .subtitle {
        font-size: 20px;
        line-height: 1.5;
    }
    
    h4, .card-title {
        font-size: 18px;
    }
}

@media only screen and (min-width : 320px) and (max-width: 767px) and (orientation: landscape) {
    
    h1 {
        font-size: 40px;
        line-height: 1.8;
    }
    
    h2, .title {
        font-size: 30px;
        line-height: 1.2;
    }
    
    h3, .subtitle {
        font-size: 20px;
        line-height: 1.5;
    }
    
    h4, .card-title {
        font-size: 18px;
    }
}

@media only screen and (min-width : 768px) {

    h1 {
        font-size: 60px;
        line-height: 1.8;
    }
    
    h2, .title {
        font-size: 40px;
        line-height: 1.2;
    }
    
    h3, .subtitle {
        font-size: 22px;
        line-height: 1.5;
    }
    
    h4, .card-title {
        font-size: 22px;
    }
}

/*--------------------------------------------------------------
 * Columns
 *------------------------------------------------------------*/

.column-details,
.column-excerpt {
    font-size: 15px;
}