/*--------------------------------------------------------------
 * Grid with multiple posts
 *------------------------------------------------------------*/

.post-grid {
    display: -ms-grid;
    -ms-grid-rows: 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px 450px 50px;
    -ms-grid-columns: 100%;
}

article {
    padding: 0 15px;
    -ms-grid-column: 1;
}

article:nth-child(1) {
    -ms-grid-row: 1;
}

article:nth-child(2) {
    -ms-grid-row: 3;
}

article:nth-child(3) {
    -ms-grid-row: 5;
}

article:nth-child(4) {
    -ms-grid-row: 7;
}

article:nth-child(5) {
    -ms-grid-row: 9;
}

article:nth-child(6) {
    -ms-grid-row: 11;
}

article:nth-child(7) {
    -ms-grid-row: 13;
}

article:nth-child(8) {
    -ms-grid-row: 15;
}

@media (min-width: 667px) {
    
    .post-grid {
        display: -ms-grid;
        -ms-grid-rows: 450px 50px 450px 50px 450px 50px 450px;
        -ms-grid-columns: 50% 50%;
    }

    article {
        padding: 0 15px;
    }

    article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    article:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    article:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    article:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    article:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    article:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }

    article:nth-child(7) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    article:nth-child(8) {
        -ms-grid-row: 7;
        -ms-grid-column: 2;
    }
}

@media (min-width: 992px) {

    .post-grid {
        display: -ms-grid;
        -ms-grid-rows: 450px 50px 450px 50px 450px;
        -ms-grid-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    article {
        padding: 0 15px;
    }

    article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    article:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    article:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    article:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    article:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    article:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    article:nth-child(7) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    article:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }
}

@media (min-width: 1200px) {

    .post-grid {
        display: -ms-grid;
        -ms-grid-rows: 450px 50px 450px;
        -ms-grid-columns: 25% 25% 25% 25%;
    }

    article {
        padding: 0 15px;
    }

    article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    article:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    article:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    article:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }

    article:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    article:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    article:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    article:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    }
}

/*--------------------------------------------------------------
 * Single event
 *------------------------------------------------------------*/

.event-grid {
    display: -ms-grid;
    -ms-grid-rows: auto 50px auto;
    -ms-grid-columns: 100%;
}

.main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

@media (min-width: 768px) {
    
    .event-grid {
        display: -ms-grid;
        -ms-grid-rows: auto;
        -ms-grid-columns: 65% 35%;
    }

    .main {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .aside {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

@media (min-width: 1024px) {
    
    .event-grid {
        -ms-grid-columns: 70% 30%;
    }
}

@media (min-width: 1200px) {
    
    .event-grid {
        -ms-grid-columns: 75% 25%;
    }
}