$breakpoints: () !default;
$typi: (null: (16px, 1.5)) !default;
$typi-ms: false !default;
$typi-breakpoint: null !default;

@import 'typi/ty/mixins';
@import 'typi/ty/functions';
@import 'typi/typi/typi';