/*--------------------------------------------------------------
 * Side navigation
 *------------------------------------------------------------*/

#menu {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #252525;
    overflow-y: scroll;
    opacity: 0;
    .close-button {
        height: $topbar-height-mobile;
        display: table-cell;
        vertical-align: middle;
    }
    .close-pointer {
        cursor: pointer;
    }
    .close-icon {
        position: relative;
        float: left;
        width: 28px;
        height: 24px;
        display: block;
        .first,
        .second {
            display: block;
            top: 9px;
            height: 4px;
            width: 28px;
            position: absolute;
            background: $color-light;
        }
        .first {
            transform: rotate(45deg);
        }
        .second {
            transform: rotate(-45deg);
        }
    }
}

.menu-header {
    position: fixed;
    width: 100%;
    background: #252525;
    z-index: 2;
    .left {
        height: inherit;
        width: auto;
        float: left;
    }
    .right {
        height: inherit;
        width: auto;
        float: right;
    }
    .page-title {
        color: #FFF;
    }
}

.menu-content {
    position: absolute;
    top: 70px;
    width: 100%;    
    color: $color-light;
    font-size: 18px;
    
    .links,
    .favorites,
    .misc {
        padding: 20px 0;
        border-top: 1px solid #505050;
    }
}

$mobile-nav-item-height: 40px;

.side-nav {
    margin: 0;
    font-size: 18px;
    color: #999999;
    .container {
        display: block;
        height: $mobile-nav-item-height;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        line-height: 2.2;
        list-style: none;
        font-family: inherit;
    }
    /*--------------------------------------------------------------
     * First menu level
     *------------------------------------------------------------*/
    .menu-item {
        min-height: $mobile-nav-item-height;
        text-align: center;
        a {
            display: table-cell;
            position: relative;
            height: $mobile-nav-item-height;
            width: 400px;
            vertical-align: middle;
            text-align: left;
        }
    }
    .menu-item-has-children {
        display: grid;
        width: 100%;
        min-height: 70px;
    }
    /*--------------------------------------------------------------
     * First level item details
     *------------------------------------------------------------*/
    .menu-item-inline {
        display: inline-block;
        height: $mobile-nav-item-height;
        width: 100%;
        margin: 0 auto;
    }
    .sub-menu-title {
        display: block;
        width: auto;
        float: left;
        .wrap {
            height: $mobile-nav-item-height;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .sub-menu-button {
        display: block;
        width: 23px;
        float: right;
        margin: 0 5.5px 0 5.5px;
        .wrap {
            height: $mobile-nav-item-height;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .sub-menu-open {
        color: initial;
        transition: all .3s ease-out;
    }
    /*--------------------------------------------------------------
     * Second menu level
     *------------------------------------------------------------*/
    .sub-menu {
        display: none;
        width: 100%;
        font-size: 18px;
        font-family: $font-family-default;
        .menu-item {
            min-height: 30px;
            max-height: 45px;
            padding: 0;
            float: left;
            border: none;
            a {
                height: 45px;
                padding: 0;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    #menu {
        width: 350px;
        overflow-y: hidden;
    }
    
    .menu-header {
        display: none;
    }
    
    .menu-content {
        top: 0;
        
        .links {
            border-top: none;
        }
    }
}

@media only screen and (min-width: 1024px) {

    #menu {
        width: 350px;
        overflow-y: hidden;
    }
    
    .menu-header {
        display: none;
    }
    
    .menu-content {
        top: 0;
        
        .links {
            border-top: none;
        }
    }

}

/*--------------------------------------------------------------
 * Submenu plus button
 *------------------------------------------------------------*/

.plus-wrap {
    display: block;
    width: 23px;
    height: 23px;
    position: relative;
}

.plus-icon {
    height: 5px;
    width: 23px;
    top: 9px;
    position: absolute;
    display: block;
    background: $color-highlighted;
    transition: all .35s ease-in-out;
}

.vertical-line {
    transform: rotate(90deg);
}

.vertical-line-rotate {
    transform: rotate(180deg);
}


/*--------------------------------------------------------------
 * Special container sizes
 *------------------------------------------------------------*/

// Expand container in navmenu on phones in landscape
@media only screen and (max-width: 767px) {
    .navmenu .container {
        width: 100%;
    }
}


/*--------------------------------------------------------------
 * Default Nav
 *------------------------------------------------------------*/

$submenu-width: 175px;
.default-nav {
    display: inline-block;
    height: 90px;
    width: 100%;
    vertical-align: middle;
    font-family: $font-family-default;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 25px 0;
    line-height: 2.2;
    ul {
        margin: 0;
        padding: 0;
        line-height: 2.2;
        list-style: none;
    }
    .menu-item,
    .menu-item-has-children {
        display: inline;
        padding: 10px 15px 10px 15px;
    }
    .menu-item-has-children {
        &:hover {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            >ul {
                display: inline-block;
            }
        }
    }
    a {
        color: #FFF;
    }
    .sub-menu {
        display: none;
        position: absolute;
        width: 220px;
        margin-top: 10px;
        font-family: $font-family-default;
        li {
            display: block;
            width: 100%;
            padding: 0;
            a {
                padding: 0;
                display: inline-block;
                width: 100%;
                &:hover {
                    background: transparent;
                }
            }
            &:hover {
                background: transparent;
                border-radius: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .menu-item-first {
        margin-top: 20px;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
}

.sticky-nav {
    height: $topbar-height-mobile-sticky;
    font-size: 16px;
    font-weight: 400;
    .menu-item,
    .menu-item-has-children {
        padding: 19px 15px 19px 15px;
    }
    a {
        color: $color-default;
    }
    .sub-menu {
        margin: 19px 0 0 -15px;
        padding: 0 0 0 15px;
        background: #FFFFFF;
        li {
            padding: 8px 0;
            border-bottom: 1px solid #efebeb;
        }
    }
}