.pagination {
    align-self: start;
    padding-bottom: 60px;
    text-align: center;
    a,
    span {
        font-family: $default-font-family;
        font-size: 14px;
        color: #5C5C5C;
        &:hover {
            border-bottom: 2px solid;
            border-color: #B7B7B7;
        }
    }
    ul {
        &:before {
            float: left;
            margin-right: 10px;
        }
    }
    li {
        float: left;
    }
    .page-numbers {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0;
        @include border-all(2px, solid);
        border-radius: 4px;
        line-height: 31px;
        list-style: none;
        font-weight: 400;
    }
    .next {
        margin-left: 10px;
    }
    .prev {
        margin-right: 10px;
    }
    .current {
        border-color: #B7B7B7;
        font-weight: 700;
        transition: 0.20s ease-out;
    }
}