.nav-tabs {
    position: relative;
    display: table;
    width: 100%;
    margin: 0;
    background: #FFF;
    @include border-bottom(1px, solid);
    
    li {
        float: left;
        width: 50%;
        text-align: center;
        &:first-child {
            @include border-right(1px, solid);
        }
        a {
            display: inline-block;
            width: 100%;
            padding: 15px 0;
        }
    }
    li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555;
        cursor: default;
        font-weight: 500;
        background: #fbfbfb;
    }
}

.tab-content {
    position: relative;
    width: 100%;
    display: inline-block;
}

.tab-content {
    .tab-pane {
        display: none;
    }
}

.tab-content {
    .active {
        display: block;
    }
}