/*--------------------------------------------------------------
 * Body
 *------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: scroll !important;
}

#page {
    position: absolute;
    width: 100%;
    background: #FFF;
    z-index: 1;
}

.freeze-page {
    @media only screen and (max-width: 1023px) {
        //overflow: hidden !important;
    }
}

// Website background based on post type
.archive,
.blog,
.grid-page,
.search {
    background: #F4F4F2;
}

a:focus,
li:focus,
span:focus {
    outline: none !important;
}