.footer {
    display: block;
    width: 100%;
    float: left;
    background: #000000;
    color: $color-light;
    
    @media only screen
    and (min-width: 767px) {
        display: none;
    }
    
    .card {
        margin-bottom: 1px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .card-header {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px 25px;
        background: #272727;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        
        .card-toggle {
            position: absolute;
            top: 33px;
            right: 40px;
        }

        .card-toggle span,
        .card-toggle span:after {
            height: 3px;
            width: 15px;
            background: #FFF;
            position: absolute;
            display: block;
            content: '';
            transition: all .35s ease-in-out;
        }

        .card-toggle span:after {
            bottom: 0;
            transform: rotate(90deg);
        }

        .card-toggle.active span {
            transform: rotate(45deg);
        }

        .card-toggle.active span:after {
            top: 0;
        }

        .card-toggle.active span:after {
            transform: rotate(90deg);
        }
    }
    
    .card-block {
        background-color: #222222;
        display: block;
        width: 100%;
        padding: 20px 25px;
        font-size: 14px;
    }
    
    .phone {
        width: 100%;
        float: left;
    }
    
    .email {
        width: 100%;
    }
}

@media only screen
and (min-width: 767px) {
    
    .footer {
        background: #EEEEEE;
        color: #CCCCCC;
    }
}