/*--------------------------------------------------------------
 * Mobile classes - Only visible on mobile phones
 *------------------------------------------------------------*/

.mobile {
    display: none;
}

// Phones
@media only screen 
and (min-device-width : 300px)
and (max-device-width : 767px) {
    
    .mobile {
        display: block;
    }
}