/*--------------------------------------------------------------
 * Branding
 *------------------------------------------------------------*/

.branding {
    height: $topbar-height-mobile;
    transition: all .3s ease-out;
}

.page-logo {
    display: none;
    line-height: 0;
}

.page-title {
    display: table-cell;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    height: $topbar-height-mobile;
    vertical-align: middle;
}

@media only screen and (min-width: 769px) {
    .branding {
        height: $topbar-height-default;
    }
    .page-logo {
        display: table-cell;
        height: $topbar-height-default;
        vertical-align: middle;
        .logo-image {
            height: 60px;
            width: auto;
        }
        &:hover {
            border-bottom: none;
        }
    }
    .page-title {
        display: none;
    }
}


/*--------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------*/

.navigation {
    display: none;
    float: left;
}

@media only screen and (min-width: 1200px) {
    .navigation {
        display: block;
    }
}


/*--------------------------------------------------------------
 * Mobile navigation button
 *------------------------------------------------------------*/

.menu-toggle {
    float: left;
}

.toggle-button {
    height: $topbar-height-mobile;
    display: table-cell;
    vertical-align: middle;
}

.toggle-pointer {
    cursor: pointer;
}

.toggle-text {
    display: none;
}

.toggle-icon {
    position: relative;
    float: left;
    width: 28px;
    height: 24px;
    display: block;
}

.burger-bar {
    display: block;
    height: 4px;
    width: 28px;
    position: absolute;
    background: $color-default;
    transition: all .3s ease-in-out;
}

.burger-bar-first {
    top: 0;
}

.burger-bar-second {
    top: 10px;
}

.burger-bar-third {
    top: 20px;
}

.burger-bar-first-active {
    top: 9px;
    transform: rotate(45deg);
}

.burger-bar-second-active {
    background: transparent;
    height: 0;
}

.burger-bar-third-active {
    top: 9px;
    transform: rotate(-45deg);
}

@media only screen and (min-device-width: 1024px) {}


/*--------------------------------------------------------------
 * Navbar
 *------------------------------------------------------------*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    .left {
        height: inherit;
        width: auto;
        float: left;
    }
    .right {
        height: inherit;
        width: auto;
        float: right;
    }
    .logo-dark {
        display: none;
    }
}

.navbar-inverted {
    background-color: $background-light;
    color: $color-default;
    .burger-bar {
        background: $color-default;
    }
}

.navbar-sticky {
    position: fixed;
    top: 0;
    height: $topbar-height-mobile-sticky;
    background-color: $background-light;
    color: $color-default;
    box-shadow: $topbar-shadow-default;
    .logo-white {
        display: none;
    }
    .logo-dark {
        display: block;
    }
    .burger-bar {
        background: $color-highlighted;
    }
}

.hide-shadow {
    box-shadow: none;
}

// Expand container in navbar on phones in landscape
@media only screen and (max-width: 667px) {
    .navbar .container {
        width: 100%;
    }
}

// Style only used on phones
@media only screen and (max-width: 768px) {
    .shadow {
        display: none;
    }
    .navbar {
        height: 70px;
        background: $background-light;
        box-shadow: $topbar-shadow-default;
        color: $color-default;
    }
}

// Style only used on tablets and larger
@media only screen and (min-width: 769px) {
    .shadow {
        position: absolute;
        left: 0;
        display: block;
        height: 500px;
        width: 100%;
        display: inline-block;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), transparent);
        z-index: 10;
    }
    .menu-toggle {
        margin: 10px 0 10px 20px;
    }
    .burger-bar {
        background: $color-highlighted;
    }
    .navbar {
        position: absolute;
        height: $topbar-height-default;
        background: transparent;
        box-shadow: none;
        color: $color-light;
        .container {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .navbar-fixed {
        position: fixed;
    }
    .navbar-sticky {
        position: fixed;
        height: $topbar-height-default-sticky;
        background: $background-light;
        box-shadow: $topbar-shadow-default;
        color: $color-default;
        .container {
            height: $topbar-height-default-sticky;
        }
        .branding {
            height: $topbar-height-default-sticky;
        }
        .page-logo {
            height: $topbar-height-default-sticky;
            &:hover {
                border-bottom: none;
            }
        }
        .logo-image {
            z-index: 35 !important;
            height: 60px !important;
            width: auto;
        }
        .menu-toggle {
            height: $topbar-height-default-sticky;
            margin: 0 0 0 20px;
        }
        .toggle-button {
            height: $topbar-height-default-sticky;
        }
        .burger-bar {
            background: $color-highlighted;
        }
    }
    .navbar-transparent {
        background: transparent;
        color: $color-light;
    }
    .bottom-line {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        height: inherit;
    }
}