.error404 {
    #header {
        position: absolute;
        top: 0;
    }
    .notfound {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: url('../images/404.jpg');
    }
    .error-wrapper {
        position: absolute;
        top: 40%;
        color: #FFF;
        text-align: center;
    }
}