.page-template-events {
    
    .banner {
        margin: 0;
    }
    
    .events {
        
        .container {
            padding-top: 30px;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    .page-template-events {
        
        .events {
        
            .container {
                padding-top: 60px;
            }
        }
    }
}