/*--------------------------------------------------------------
 * Global page overrides
 *------------------------------------------------------------*/

.search {
    input,
    select {
        transition: none;
    }
    input:focus,
    select:focus {
        border-color: #FFF;
        transition: none;
    }
    // Placeholders
    ::-webkit-input-placeholder {
        color: #FFF;
    }
    :-moz-placeholder {
        color: #FFF;
    }
    ::-moz-placeholder {
        color: #FFF;
    }
    :-ms-input-placeholder {
        color: #FFF;
    }
}


/*--------------------------------------------------------------
 * Seachfield
 *------------------------------------------------------------*/

.searchfield {
    width: 20%;
    height: 50px !important;
    padding: 0 15px;
    border: 2px solid #FFF;
    border-radius: 2px;
    background-color: transparent;
    font-size: 20px;
    color: #FFF;
}


/*--------------------------------------------------------------
 * Search results
 *------------------------------------------------------------*/

// General
#search-results {
    .post-type {
        margin-right: 10px;
        padding: 3px 9px 3px 12px;
        border-radius: 2px;
        background: #3a7ba1;
        font-weight: 100;
        font-size: 13.5px;
        color: #FFF;
    }
    .post-type.sermon {
        background: #a15642;
    }
    .post-type.page {
        background: #9fa13a;
    }
    .post-type.post {
        background: #3a7ba1;
    }
    .post-date {
        font-size: 13.5px;
    }
}

// Desktop
@media only screen and (min-device-width: 1025px) {
    #search-results {
        .column {
            padding: 3em 0;
            margin: 0;
            @include border-bottom(2px, solid);
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .column-item {
            background-color: transparent;
            border: none;
        }
        .column-image {
            width: 25%;
            float: left;
            margin-right: 3%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .column-content {
            width: 72%;
            float: left;
            padding: 0;
        }
        .column-title {
            margin: 0 0 15px 0;
        }
        .column-details {
            margin: 5px 0 10px 0;
        }
    }
}