.event-grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    
    .event-grid {
        grid-template-columns: 65% 35%;
    }
}

@media (min-width: 1024px) {
    
    .event-grid {
        grid-template-columns: 70% 30%;
    }
}

@media (min-width: 1200px) {
    
    .event-grid {
        grid-template-columns: 75% 25%;
    }
}

/*--------------------------------------------------------------
 * Single event
 *------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
        padding-right: 40px;
    }
    .aside {
        padding-left: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        padding-right: 50px;
    }
    .aside {
        padding-left: 50px;
    }
}

.event-widget {
    margin-bottom: 40px;
}

.widget-title {
    margin: 0;
}

.event-details {
    .price-list {
        padding: 0;
        list-style: none;
    }
    .event-location {
        margin: 1em 0;
        font-family: $font-family-body;
        line-height: $line_height_smaller;
        .location-name,
        .location-street {
            width: 100%;
        }
    }
    .direction-link {
        text-decoration: underline;
        cursor: pointer;
    }
}

// Phone style
@media (max-width: 767px) {
    .event-details {
        @include border-top(1px, solid);
        padding-top: 15px;
    }
}

// Tablets
@media only screen and (min-device-width: 768px) {
    #event {
        .main {
            @include border-right(1px, solid);
        }
    }
}


/*--------------------------------------------------------------
 * Hide elements
 *------------------------------------------------------------*/

.recurringinfo,
#tribe-events-header,
#tribe-events-bar {
    display: none !important;
}