/*--------------------------------------------------------------
 * Posts
 *------------------------------------------------------------*/

.post-grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: 450px;
    grid-template-columns: 100%;
    grid-row-gap: 50px;
    padding: 50px 0;
}

@media (min-width: 667px) {
    
    .post-grid {
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
    }
}

@media (min-width: 992px) {
    
    .post-grid {
        grid-template-columns: 31.33333333% 31.33333333% 31.33333333%;
        grid-column-gap: 3%;
    }
}

@media (min-width: 1200px) {
    
    .post-grid {
        grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
        grid-column-gap: 3%;
    }
}

.column-item {
    height: 450px;
    display: block;
    background-color: #FFFFFF;
    border-radius: 2px;
    overflow: hidden;
    
    &:hover {
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    }
}

.column-image {
    display: inherit;
    height: auto;
    line-height: 0;
    a {
        height: auto;
        display: inline-block;
        &:hover {
            border-bottom: none;
        }
    }
    img {
        width: 100%;
        height: auto;
        background-size: cover;
        display: inherit;
    }
}

.column-content {
    $column-content: ( null: (16px), small: 14px, large: 13px);
    display: inline-block;
    min-height: 80px;
    padding: 15px;
    .column-title {
        display: inherit;
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
        line-height: 1.5;
        font-size: 22px;
        font-weight: 500;
    }
    .column-details {
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
        p {
            margin: 0;
        }
    }
    .column-excerpt {
        display: inherit;
        p {
            $typi-excerpt: ( null: (16px), large: 13px);
            margin: 0;
            @include typi-base($typi: $column-content);
        }
    }
}

/*--------------------------------------------------------------
 * Archive
 *------------------------------------------------------------*/

.card-vertical {
    display: block;
    height: 300px;
    width: 100%;
    float: left;
    margin-bottom: 50px;
    background: #FFFFFF;
}

.card-image {
    display: block;
    width: 40%;
    float: left;
}