.sermon-date {
    display: block;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.sermon-title {
    margin: 0 0 20px 0;
}

.sermon-details {
    display: inline-block;
    font-size: 16px;
    li {
        display: inline;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.sermon-terms {
    display: inline-block;
    li {
        margin-right: 0;
    }
    li:after {
        content: ',';
        margin-right: 5px;
    }
    li:last-child:after {
        display: none;
    }
    a {
        text-decoration: underline;
    }
}


/*--------------------------------------------------------------
 * Player
 *------------------------------------------------------------*/

.player {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #FFF;
    @include border-top(1px, solid);
    .mejs-offscreen {
        display: none;
    }
    .mejs-container {
        display: inline-block;
        height: 40px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        margin: 10px 0;
        &:focus {
            outline: none;
        }
    }
    .mejs-button {
        display: inline-block;
        float: left;
        width: 10%;
        line-height: 0;
    }
    .mejs-play button {
        height: 50px;
        width: 50px;
        border: none;
        background: #FFFFFF url(#{$page_url}/data/img/media_controls.svg);
        background-size: 100px;
        background-position: 0 0;
        &:hover {
            background-position: -50px 0px;
        }
        &:focus {
            outline: none;
        }
    }
    .mejs-pause button {
        height: 50px;
        width: 50px;
        border: none;
        background: #FFFFFF url(#{$page_url}/data/img/media_controls.svg);
        background-size: 100px;
        background-position: 0px -50px;
        &:hover {
            background-position: -50px -50px;
        }
        &:focus {
            outline: none;
        }
    }
    .mejs-time-rail {
        position: relative;
        display: inline-block;
        float: left;
        width: 70%;
        margin: 21px 0 21px 0;
        .mejs-time-total {
            display: block;
            height: 8px;
            width: 100%;
            border: 1px solid #9c9c9c;
        }
        .mejs-time-buffering,
        .mejs-time-current,
        .mejs-time-float,
        .mejs-time-float-corner,
        .mejs-time-float-current,
        .mejs-time-hovered,
        .mejs-time-loaded,
        .mejs-time-marker {
            cursor: pointer;
            display: block;
            height: 6px;
            position: absolute;
        }
        .mejs-time-buffering,
        .mejs-time-current,
        .mejs-time-hovered,
        .mejs-time-loaded {
            left: 1px;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transition: all .15s ease-in;
            transition: all .15s ease-in;
            width: 100%;
        }
        .mejs-time-loaded {
            background: #DDD;
        }
        .mejs-time-current {
            background: #9c9c9c;
        }
    }
}