/*--------------------------------------------------------------
 * Single Post
 *------------------------------------------------------------*/

.single-title {
    margin: 0 0 20px 0;
}

.single-details {
    font-family: $font-family-body;
    font-size: $font_size_normal;
}

.single-content {
    margin-top: 10px;
}

// Additional style for phones
@media (max-width: 767px) {
    .single-content {
        @include border-top(1px, solid);
    }
}

// Additional style for phones
@media (max-width: 767px) {
    .single-content {
        @include border-top(1px, solid);
    }
}